      /* .navbar{
          z-index: 1;
      } */
      #mySidebar{
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 2;
      }
      #changeTable1{
        position: absolute;
        left: 0px;
        top: 120px;
       
      }
      #changeTable2{
          width: 100%;
          text-align: center;
      }
      #imgStyle{
          width: 70px;
          height:70px;
      }
      .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:white;
  color: white;
  text-align: center;
  border-top-style: inset;
}
p{
    color:black;
}
.w3-container{
  padding-bottom: 0px;
}
