
/*Navbar background color*/
.navbar{
background-color: #17a649;
}
/*Navbar link <a> color*/
.nav-link a{
color: white;
}
/*Modal box position*/
.modal {

position: fixed;
}

/*Modal box height*/
.modal-dialog {

    height:700px !important; 
}
/*Modal content height*/
.modal-content {

/* 80% of window height */
height: 90%;
}    
/*Modal title*/   
.modal-title{
color: white;
padding-left: 160px;
}

.modal-header {

background-color: #17a649;
}
/*form group icon*/
.form-group i { 
      position: absolute; 
} 

.form-group { 
      width: 100%; 
      margin-bottom: 10px; 
      box-sizing: border-box;
      padding-top: 20px;
} 
.icon {  
      color: green; 
      min-width: 50px; 
      padding-top: 10px;
      padding-left: 10px; 
} 
.form-control { 
      width: 100%; 
      padding: 22px; 
      padding-left: 30px; 
      border : none;
      border-bottom: 1.2px solid gray;
      background-color: #f0f5f2;
} 
.form-control:focus{
  background-color: #f0f5f2;
}
input[type=text]:focus {
  border-bottom: 2px solid #17a649;
  box-shadow:none;
}
input[type=number]:focus {
  border-bottom: 2px solid #17a649;
  box-shadow:none;
}
.btn{
margin-right: 200px;
color: white;
background-color: #17a649;
}
