            .main-body{
                size: 100%;
                border: lawngreen;
            }
            .header{
                color:white;
                background-color: #4CAF50;
                box-sizing:border-box;
            }
            .text-body{
                text-align: center;
                color:green;
            }
            #next-text{
                color:lightsteelblue
            }
          
            #inputName,#inputEmail{
                size: 100%;
                box-sizing: border-box;
                width: 100%;
                border-right: none;
                border-left: none;
                border-top: none;
                border-bottom:solid 1px black;
            }
            .done{
                text-align: center;
                color:green;
            }
